<div class="mycard">
<h2 class="title">Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.hidden_field :current_password,
                hint: "new password",
                required: false,
                input_html: { autocomplete: "confirm new-password" } %>
    <%= f.hidden_field :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password,
                hint: "Current password required to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password", class:"m-2" } %>
    <%= f.input :username,
                hint: "",
                required: true,
                input_html: { autocomplete: "user-name", class:"m-2" } %>    
    <%= f.input :first_name,
                hint: "",
                required: false,
                input_html: { autocomplete: "first-name", class:"m-2" } %>            
    <%= f.input :last_name,
                hint: "",
                required: false,
                input_html: { autocomplete: "last-name", class:"m-2" } %>   
    <%= f.input :social_media,
                hint: "Add a link",
                required: false,
                input_html: { autocomplete: "social-media", class:"m-2" } %>   
    <%= f.input :about,
                hint: "Tell the world about you or your business",
                required: false,
                input_html: { autocomplete: "about",class:"m-2" } %>    
  <div class="form-actions m-3">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
</div>

<%= form_with model: @user, local: true do |form| %>
<%= form.file_field :photo %>
<%= form.submit %>
<% end %>
<br>
<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>
</div>
