
<div class="card pt-3 border border-dark">
  <div class="row">
    <div class="col-3 d-flex justify-content-center line">
      <p class="px-2">
        <% if vendor_event.photo.present? %>
          <%= image_tag vendor_event.event.photo.url, alt:"event photo", class:"profile-pic" %>
        <% else %>
        <%= image_tag 'favicon.png', alt:"profile pic", width:"200px", class:"rounded-circle" %>
        <% end %>
      </p>
    </div>
    <div class="col-3 align-self-center">
      <p>
        <strong>Event:</strong>
        <%= vendor_event.event.name %>
      </p>
    </div>
    <div class="col-3 line">
      <strong>Application status:</strong>
      <% if vendor_event.application_status? %>
        <p><%= vendor_event.application_status %></p>
      <% else %>
        <p>Not applied</p>
      <% end %>
      <strong>Paid:</strong>
      <% if vendor_event.paid? %>
        <p>PAID</p>
      <% else %>
        <p>DUE</p>
      <% end %>
      <p><strong> Starts on:</strong>
      <%= vendor_event.event.started_at.strftime("%B %d, %Y") %>
      </p>
    </div>
    <div class="col-3">
      <div class="btn-container">
        <%= link_to "See Main", event_path(vendor_event.event), class:"btn event_btn" %>
        <%= link_to "My Event", vendor_event_path(vendor_event), class:"btn btn-in" %>
        <%= link_to "Edit Status", edit_vendor_event_path(vendor_event), class:"btn btn-pri" %>
        
            </div>
      
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  document.querySelectorAll('.explode').forEach(button => {
    button.addEventListener('click', (event) => {
      event.preventDefault();
      const button = event.target;
      const confirmMessage = button.getAttribute('data-confirm');
      if (confirm(confirmMessage)) {
        button.classList.add('exploding');
        setTimeout(() => {
          button.closest('form').submit();
        }, 300); // Match the duration of the animation
      }
    });
  });
});

</script>
