<div id="<%= dom_id vendor_event %>" class="card pt-3 border border-dark">
  <div class="row">
    <div class="col-3 d-flex justify-content-center">
      <p class="px-2">
        <% if vendor_event.event.photo.present? %>
          <%= image_tag vendor_event.event.photo.url, alt:"event photo", class:"profile-pic" %>
        <% end %>
      </p>
    </div>
    <div class="col-3 align-self-center">
      <p>
        <strong>Event:</strong>
        <%= vendor_event.event.name %>
      </p>
    </div>
    <div class="col-3">
      <strong>Application status:</strong>
      <% if vendor_event.application_status? %>
        <p><%= vendor_event.application_status %></p>
      <% else %>
        <p>Not applied</p>
      <% end %>
      <strong>Paid:</strong>
      <% if vendor_event.paid? %>
        <p>PAID</p>
      <% else %>
        <p>DUE</p>
      <% end %>
    </div>
    <div class="col-3 justify-content-between">
      <p>
        <%= link_to "Details", event_path(vendor_event.event), class:"btn btn-info" %>
      </p>
      <p>
        <%= link_to "Edit Status", edit_vendor_event_path(vendor_event), class:"btn btn-primary" %>
      </p>
      <p>
        <%= link_to "Destroy this event", vendor_event, method: :delete, class:"btn btn-info"  %>
      </p>
    </div>
  </div>
</div>
