<div id="<%= dom_id vendor_event %>" class="mycard">


   <p>
    <strong>Event:</strong>
    <%= image_tag vendor_event.event.photo.url, alt:"event photo", class:"profile-pic" %>
  </p>
   <p>
    <strong>Event:</strong>
    <%= vendor_event.event.name %>
  </p>

  <p>
    <strong>Application status:</strong>
    <%= vendor_event.application_status %>
  </p>

  <p>
    <strong>Paid:</strong>
    <%= vendor_event.paid %>
  </p>

  <p>
    <%= link_to "Event Details", vendor_event_path(vendor_event) %>
  </p>
    <p>
    <%= link_to "Remove Event", vendor_event, method: :delete %>
  </p>
</div>
