<div class="card">
  <div>
    <%= render partial: "vendor_events/calendar", locals: { vendor_event: @vendor_event } %>
  </div>

  <% if @vendor_events.present? %>

  <%= search_form_for @a do |f| %>
    <div class="search pt-3 d-flex justify-content-center">
      <div>
        <%= f.label :name_cont, "Find" %>
        <%= f.text_field :name_cont %>
      </div>
      <div class="search px-2">
        <%= f.submit %>
      </div>
      <div class="search px-2">
        <%= link_to "Clear", vendor_events_path %>
      </div>
    </div>
  <% end %>

    <div id="vendor_event">
    <div class="nav d-flex justify-content-around pb-0">
      <p>Image</p>
      <p>Name</p>
      <p>Status</p>
      <p>Actions</p>
    </div>
      <% @vendor_events.each do |vendor_event| %>
        <div>
          <%= render vendor_event %>
        </div>
      <% end %>
    <% else %>
      <p>No vendor events found</p>
    <% end %>
  </div>
</div>
