<p style="color: green"><%= notice %></p>

<h1 class="title">My events</h1>
<div class="mycard">
  <%= render partial: "vendor_events/calendar", locals: { vendor_event: @vendor_event } %>

  <%= search_form_for @a do |f| %>

  <div class="search pt-3 d-flex justify-content-center">
    <div>
      <%= f.label :paid_cont, "Find" %>
      <%= f.text_field :paid_cont %>
    </div>

    <div class="search px-2">
      <%= f.submit %>
    </div>
    <div class="search px-2">
      <%= link_to "Clear", events_path %>
    </div>
    <% end %>
  </div>

  <% if @vendor_events.present? %>
  <div id="vendor_event">
    <% @vendor_events.each do |vendor_event| %>
      <%= render vendor_event %>

    <% end %>
  </div>
  <% else %>
    <p>No vendor events found</p>
  <% end %>
<div>
