<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="d-flex">Stat Tracker</h2>
    </div>
  </div>

<div>
<%= form_with url: update_expenses_and_sales_vendor_events_path, method: :post do |f| %>     
  <table>
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Expense</th>
        <th>Sales</th>
        <th>Profit</th>
        <th>Return</th>
      </tr>
    </thead>
    <tbody>
      <% @user.vendor_events.each do |event| %>
        <tr>
          <td><%= event.event.name %></td>
          <td>
            <%= number_field_tag "vendor_events[#{event.id}][expense]", event.expense, class: "form-control", id: "expense_#{event.id}" %>
          </td>
          <td>
            <%= number_field_tag "vendor_events[#{event.id}][sales]", event.sales, class: "form-control", id: "sales_#{event.id}" %>
          </td>
          <td>
            <%= number_field_tag "vendor_events[#{event.id}][profit]", event.profit, class: "form-control", id: "profit_#{event.id}" %>
          </td>
          <td>
            <%= number_field_tag "vendor_events[#{event.id}][return]", event.return, class: "form-control", id: "return_#{event.id}" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag 'Update Expenses and Sales', class: 'event_btn' %>
<% end %>
</div>
