  <div class="mycard">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title"><%= @user.username %>'s Profile</h1>
      </div>

    <div class="row">
      <div class="col">
        <div>
          
     
          <% if @user.photo.attached? %>
            <%= image_tag url_for(@user.photo), class: "profile-pic" %>
            <% end %>
  
        </div>
        <h2>Contact Information</h2>
        <p><strong>First Name:</strong> <%= @user.first_name %></p>
        <p><strong>Last Name:</strong> <%= @user.last_name %></p>
        <p><strong>Email:</strong> <%= @user.email %></p>
        <p><strong>Social:</strong> <%= @user.social_media %></p>
        <p><strong>About:</strong> <%= @user.about %></p>
        <% if @user.id = current_user.id %>
        <%= link_to "Edit Profile", edit_user_registration_path %>
        <% end %>
      </div>


      <div class="col">
        <h2>Hosted Events</h2>
          <ul>
            <% @hosted_events.each do |event| %>
              <li><%= link_to event.name, event_path(event) %></li>
            <% end %>
          </ul>
            <% if !@hosted_events.any? %>
            <p><%= @user.first_name %> has not created any events yet.</p>
            <% end %>

        <h2>Vendor Events</h2>
          <ul>
            <% @user.vendor_events.each do |event| %>
              <li><%= link_to event.id, vendor_event_path %></li>
            <% end %>
          </ul>
            <% if !@user.vendor_events.any? %>
            <p><%= @user.first_name %> has not been a vendor at any events yet.</p>
            <% end %>
      </div>
    </div>
  </div>
