  <div class="mycard">
    <div class="row">
      <div class="col-md-12">
        <h1><%= @user.username %>'s Profile</h1>
      </div>

    <div class="row">
      <div class="col">
        <div>
          <img src="https://picsum.photos/200" width="200px" alt="...">
          <%= @user.avatar %>
        </div>
        <h2>Contact Information</h2>
        <p><strong>First Name:</strong> <%= @user.first_name %></p>
        <p><strong>Last Name:</strong> <%= @user.last_name %></p>
        <p><strong>Email:</strong> <%= @user.email %></p>
        <p><strong>Social:</strong> <%= @user.social_media %></p>
        <p><strong>About:</strong> <%= @user.about %></p>
      </div>


      <div class="col">
        <h2>Hosted Events</h2>
          <ul>
            <% @hosted_events.each do |event| %>
              <li><%= link_to event.name, event_path(event) %></li>
            <% end %>
          </ul>
            <% if !@hosted_events.any? %>
            <p><%= @user.first_name %> has not created any events yet.</p>
            <% end %>

        <h2>Vendor Events</h2>
          <ul>
            <% @user.vendor_events.each do |event| %>
              <li><%= link_to event.id, vendor_event_path %></li>
            <% end %>
          </ul>
            <% if !@user.vendor_events.any? %>
            <p><%= @user.first_name %> has not been a vendor at any events yet.</p>
            <% end %>
      </div>
    </div>
  </div>
