<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= event.started_at %>
  </p>

  <p>
    <strong>Application due at:</strong>
    <%= event.application_due_at %>
  </p>

  <p>
    <strong>Information:</strong>
    <%= event.information %>
  </p>

  <p>
    <strong>Application link:</strong>
    <%= event.application_link %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= event.tags %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= event.address %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= event.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= event.longitude %>
  </p>

</div>
