<div class="d-flex p-3 mb-2">
  <div class="mycard row">
    <div class="col justify-content-center">
   
      <h5>
        <p><strong>Name: </strong><%= @event.name %></p></h5>
        <p class="card-text"> 
        
        <% if @event.photo.present? %>
        <%= image_tag @event.photo.url, alt: "profile pic", width:"50%" %>
        <% end %>
</p>

        <%= form_with model: VendorEvent.new, url: vendor_events_path do |form|%>
          <%= form.hidden_field :event_id, value: @event.id %>
          <%= form.submit 'Add to My Events', class: 'btn btn-primary' %>
        <% end %>

        <br>
    <h5><p><strong>Host:
      <%= link_to user_path(@host) do %>
        <% if @host.photo.present? %>
        <%= image_tag @host.photo.url, alt: "profile pic", width:"10%", class:"rounded-circle" %>
        <% else %>
        <%= image_tag "favicon.png" %>
        <% end %>
        </strong><%= @host.username %>
        <% end %>
      </p>
    </h5>


    </div>
    
      <div class="col">
        <p class="card-text"> 
        <strong>Application due at:</strong>
        <%= @event.application_due_at %></p>

        <p class="card-text"> 
        <strong>Started at:</strong>
        <%= @event.started_at %></p>

        <p class="card-text"> 
        <strong>Information:</strong>
        <%= @event.information %></p>
  
        <p class="card-text"> 
        <strong>Application link:</strong>
        <%= @event.application_link %>

        <p class="card-text"> 
        <strong>Tags:</strong>
        <%= @event.tags %>

        <p class="card-text"> 
        <strong>Address:</strong>
        <%= @event.address %></p>

      <div class="row justify-content-around">

          <% if current_user.vendor_events.exists?(event_id: @event.id) %>
          <%= link_to "My event", vendor_event_path(current_user.vendor_events.find_by(event_id: @event.id)) %>
           <% end %>

        <% if @host == current_user %>
          <%= link_to "Edit this event", edit_event_path(@event) %> 
          <%= link_to "Destroy this event", @event, method: :delete %>
        <% end %>
      </div>
  </div>
</div>
