<div class="d-flex">
<div class="card">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    
    <h5 class="card-title">
        <p><strong>Name:</strong><%= event.name %></p>
    </h5>

    <p class="card-text"> 
    <strong>Application due at:</strong>
    <%= event.application_due_at %></p>

    <p class="card-text"> 
    <strong>Started at:</strong>
    <%= event.started_at %>></p>

    <p class="card-text"> 
    <strong>Information:</strong>
    <%= event.information %></p>

    <p class="card-text"> 
    <strong>Application link:</strong>
    <%= event.application_link %>>

    <p class="card-text"> 
    <strong>Tags:</strong>
    <%= event.tags %>

    <p class="card-text"> 
    <strong>Address:</strong>
    <%= event.address %></p>

    <p class="card-text"> 
    <strong>Host:</strong>
    <%= event.host.username %></p>

  <%= link_to "Show this event", event, class:"btn btn-primary" %>
   
  </div>
</div>
</div>
