<%= @event do |information| %>
<div>
  <p>
    <strong>Name:</strong>
    <%= information.name %>
  </p>

  <p>
    <strong>Application due at:</strong>
    <%= information.application_due_at %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= information.started_at %>
  </p>

  <p>
    <strong>Information:</strong>
    <%= information.information %>
  </p>

  <p>
    <strong>Application link:</strong>
    <%= information.application_link %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= information.tags %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= information.address %>
  </p>

  <p>
    <strong>Host:</strong>
    <%= information.host.username %>
  </p>

</div>
<% end %>
