
<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :application_due_at %>
    <%= f.input :started_at %>
    <%= f.input :information %>
    <%= f.input :application_link %>
    <%= f.input :tags %>
    <%= f.input :address %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
