
<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mycard">
    <h1 class="title">New event</h1>

    <%= f.input :name %>
    <%= f.input :application_due_at, as: :date %>
    <%= f.input :started_at, as: :date %>
    <%= f.input :information, as: :text %>
    <%= f.input :application_link, as: :string %>
    <%= f.input :tags %>
    <%= f.input :address, as: :string %>
    <%= f.input :latitude, as: :string %>
    <%= f.input :longitude, as: :string %>
    <br>
    <%= f.input :photo, as: :file %>
  <br>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
  <br>
  <div>
    <%= link_to "Back to events", events_path %>
  </div>
</div>
