<p style="color: green"><%= notice %></p>

<h1 class="title">Search Events</h1>

<div id="map" style="height: 400px;"></div>
  

<div id="events" class="card">

<%= search_form_for @q do |f| %>

<div class="search pt-3 d-flex justify-content-center">
  <div>
    <%= f.label :name_cont %>
    <%= f.text_field :name_cont %>
  </div>
  <div class="search px-2">
    <%= f.label :started_at_gteq, "On or after " %>
    <%= f.date_field :started_at_gteq %>
  </div>
  <div class="search px-2">
    <%= f.submit %>
  </div>
  <div class="search px-2">
    <%= link_to "Clear", events_path %>
  </div>
  <% end %>
</div>


  <% @events.each do |event| %>
    <div class="d-flex ps-4 mb-2 mycard justify-content-between">
      <div class="row">
        <div class="col-6">
          <% if event.photo.present?%>
          <%= image_tag event.photo.url, alt:"profile pic", class:"profile-pic" %>
          <% end %>
          <strong>Name:</strong>
            <%= event.name %>
        </div>
        <div class="col-6">
          <p class="card-text"> 
            <strong>Where:</strong>
            <%= event.address %>
            <br>
            <strong>When:</strong>
            <%= event.started_at.strftime("%B %d, %Y") %></p>
            <%= link_to "Show this event", event, class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
<div class="d-flex justify-content-around p-3">
  <%= paginate @events, :container => false %>
</div>
</div>


<script>
  function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: 41.87657590074282, lng: -87.61936464305545 },
      zoom: 5,
    });

    const events = <%= raw @events.to_json(only: [:latitude, :longitude, :name]) %>;

    console.log(events); // Debugging: Check the events data

    events.forEach(event => {
      if (event.latitude && event.longitude) {
        console.log(`Adding marker for event: ${event.name}`); // Debugging: Check each event
        new google.maps.Marker({
          position: { lat: event.latitude, lng: event.longitude },
          map: map,
          title: event.name,
        });
      }
    });
  }
</script>


    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly,marker&v=beta"
      defer
    ></script>
