<p style="color: green"><%= notice %></p>


<h1 class="title">Search Events</h1>

<div>
  <div id="map" style='height: 400px;'></div>
</div>

<div id="events" class="card">

  <%= search_form_for @q do |f| %>

    <div class="search pt-3 d-flex justify-content-center">
      <div>
        <%= f.label :name_cont %>
        <%= f.text_field :name_cont %>
      </div>
      <div class="search px-2">
        <%= f.label :started_at_gteq, "On or after " %>
        <%= f.date_field :started_at_gteq %>
      </div>
      <div class="search px-2">
        <%= f.submit %>
      </div>
      <div class="search px-2">
        <%= link_to "Clear", events_path %>
      </div>
    <% end %>
  </div>

  <% if @events.present? %>
    <% @events.each do |event| %>
      <div class="d-flex ps-4 mb-2 mycard justify-content-between">
        <div class="row">
          <div class="col-6">
            <% if event.photo.present?%>
              <%= image_tag event.photo.url, alt:"profile pic", class:"profile-pic" %>
            <% end %>
            <strong>Name:</strong>
            <%= event.name %>
          </div>
          <div class="col-6">
            <p class="card-text">
              <strong>Where:</strong>
              <%= event.address %>
              <br>
              <strong>When:</strong>
              <%= event.started_at.strftime("%B %d, %Y") %></p>
            <%= link_to "Show this event", event, class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No events found.</p>
  <% end %>
  </div>


  <div class="d-flex justify-content-around p-3">
    <%= paginate @events, :container => false %>
  </div>


<script>
  function initMap() {
    // Create the map and attach it to the 'map' div
    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
      center: { lat: 0, lng: 0 }, // Default center, will adjust to bounds
      zoom: 2, // Default zoom
    });

    // Create a bounds object to automatically fit all markers
    var bounds = new google.maps.LatLngBounds();

    // Loop through the events and create markers
    <% @events.each do |event| %>
      var marker = new google.maps.Marker({
        position: { lat: <%= event.latitude %>, lng: <%= event.longitude %> }, // Latitude and longitude of the event
        map: map,
        title: "<%= event.name %>", // Title of the event
        icon:  {
          url: "<%= event.photo.url %> ", // URL to the custom image
          scaledSize: new google.maps.Size(40, 40) // Size of the custom image 
        } // Photo for the marker icon
      });

      // Create an info window for the marker
      var infowindow = new google.maps.InfoWindow({
        content: `<h4><%= event.name %></h4><br><a href="<%= event.application_link %>" target="_blank">Apply Here</a>` // Content of the info window,
      });

      // Add a click event listener to open the info window when the marker is clicked
      marker.addListener("click", function () {
        infowindow.open(map, marker);
      });

      // Extend the map bounds to include this marker's position
      bounds.extend(marker.getPosition());
    <% end %>

    // Adjust the map to fit all markers within the bounds
    map.fitBounds(bounds);
  }

  // Load the initMap function as a callback for Google Maps
  window.initMap = initMap;
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS'] %>&callback=initMap"
async defer></script>
