<h1 class="title">Search Events</h1>

<div>
  <div id="map" style='height: 400px;'></div>
</div>

<div id="events" class="card">

  <%= search_form_for @q do |f| %>
    <div class="search pt-3 d-flex justify-content-center mb-0">
      <div>
        <%= f.label :name_cont %>
        <%= f.text_field :name_cont %>
      </div>
      <div class="search px-2">
        <%= f.label :started_at_gteq, "On or after " %>
        <%= f.date_field :started_at_gteq %>
      </div>
    </div>
      <div class="d-flex justify-content-center">
        <div class="search px-2">
          <%= f.submit %>
        </div>
        <div class="search px-2">
          <%= link_to "Clear", events_path, class:"btn btn-info" %>
        </div>
      </div>
    <% end %>

  <% if @events.present? %>
    <% @events.each do |event| %>
      <div class="ps-4 mb-2 mycard">
        <div class="row">
          <div class="col">Name: 
            <div><h4> <%= event.name %></h4></strong></div>
          </div>
          <div class="col d-flex">
            <% if event.photo.present?%>
              <%= image_tag event.photo.url, alt:"profile pic", class:"profile-pic" %>
              <% else %>
              <%= image_tag 'favicon.png', alt:"profile pic", class:"profile-pic" %>
            <% end %>
          </div>
          <div class="col">
            <p class="card-text">
              <strong>Where:</strong>
              <%= event.address %></p>
              
              <p class="card-text"><strong>When:</strong>
              <%= event.started_at.strftime("%B %d, %Y") %></p>
            <%= link_to "Show this event", event, class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No events found.</p>
  <% end %>
  <div class="d-flex justify-content-around p-3">
    <%= paginate @events, :container => false %>
  </div>
  </div>




<script>
    function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: 41.87657590074282, lng: -87.61936464305545 },
      zoom: 5,
    });

    const events = <%= raw @events.to_json(only: [:latitude, :longitude, :name], methods: [:photo_url]) %>;

    console.log(events); // Debugging: Check the events data

    events.forEach(event => {
      if (event.latitude && event.longitude) {
        console.log(`Adding marker for event: ${event.name}`); // Debugging: Check each event
        new google.maps.Marker({
          position: { lat: event.latitude, lng: event.longitude },
          map: map,
          title: event.name,
          icon: {
          url: event.photo_url ? event.photo_url : null, // URL to the custom image
          scaledSize: new google.maps.Size(40, 40) // Size of the custom image 
        } 

        });
      }
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS'] %>&callback=initMap"
async defer></script>
