<p style="color: green"><%= notice %></p>

<h1 class="title">Search Events</h1>

<%= link_to "New event", new_event_path %>

<%= search_form_for @q do |f| %>

<div class="search">
  <div>
    <%= f.label :name_cont %>
    <%= f.text_field :name_cont %>
  </div>

  <div>
    <%= f.label :started_at_gteq %>
    <%= f.date_field :started_at_gteq %>
  </div>

  <div>
    <%= f.submit %>
    <%= link_to "Clear", events_path %>
  </div>

  <% end %>
</div>


<div id="events">
  <% @events.each do |event| %>

    <div class="d-flex p-3 mb-2">
      <div class="mycard row">
        <div class="col justify-content-center">
          <% if event.photo.present?%>
          <%= image_tag event.photo.url, alt:"profile pic", class:"profile-pic" %>
          <% end %>
          <strong>Name:</strong>
            <%= event.name %>
        </div>
        <div class="col">
          <p class="card-text"> 
            <strong>Where:</strong>
            <%= event.address %>
            <br>
            <strong>When:</strong>
            <%= event.started_at.strftime("%B %d, %Y") %></p>
            <%= link_to "Show this event", event, class:"btn btn-primary" %>
        </div>
      </div>
    </div>
    
  <% end %>
</div>
